list

In [11]:
my_list = (list(range(1,31)))
len(my_list)

30

In [13]:
len(my_list)

30

In [15]:
type(set(my_list))

set

In [24]:
phone_book = {'서울': '02', '경기': '031'}
print(phone_book.keys())
# print(phone_book.value('서울'))
phone_book['서울']

dict_keys(['서울', '경기'])

'02'

In [27]:
for key, value in phone_book.items():
    print(key, value)

서울 02
경기 031

In [35]:
t = (1, 2, 3, 4)
print(list(t))
set(t)
dict(t)

[1, 2, 3, 4]

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [42]:
r = range(1,5)
list(r)

[1, 2, 3, 4]

In [41]:
d = {'name': 'ssafy', 'year': 2020}

NameError: name 'keys' is not defined

In [43]:
return r

SyntaxError: 'return' outside function (Temp/ipykernel_9552/4142619684.py, line 1)

In [59]:
num1 = 0.1*3
num2 = 0.3
print('%.1f / %.1f' %(num1,num2

0.3 / 0.3

In [62]:
name = '철수'
print("안녕, %s야" % name)
print(f"안녕, {name}야")

안녕, 철수야
안녕, 철수야

In [63]:
int('3.5')

ValueError: invalid literal for int() with base 10: '3.5'

In [69]:
n=5
m=9
row = "*"*5
print((row+'\n')*6)

*****
*****
*****
*****
*****
*****

In [82]:
a = list(range(1,51))
print(a[0:51:2], end="")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [85]:
seoul2 = {'김동현' : 27}
type(seoul2)

dict

In [87]:
n=5
m=9
for _ in range(n):
    for _ in range(m):
        print("*", end="")
    print("\n")

*********

*********

*********

*********

*********

In [94]:
temp = 36.5
print("입실 불가")  if temp >= 37.5 else print("입실 가능");

입실 가능

In [96]:
scores = [80, 89, 99, 83]
total = 0
for i in scores:
    total = total + i
print(total / len(scores))

87.75

In [100]:
n = int(input())
if 1<= n <= 1000:
    for i in range(1,n+1):
        if n % i == 0:
            print(f'{i} ', end="")

20
1 2 4 5 10 20

In [114]:
numbers = [
    85,72,38,80,69,65,68,96,22,49,67,
    51,61,63,87,66,24,80,83,71,60,64,
    52,90,60,49,31,23,99,94,11,25, 24
]
numbers = sorted(numbers)

if len(numbers) % 2 ==0:
    print(numbers[len(numbers)//2], numbers[(len(numbers)//2)-1])
else:
    print(numbers[len(numbers)//2])

64

In [120]:
num = int(input())
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j, end="")
    print("\n")

4
1

12

123

1234

In [123]:
def get_middel_char(s):
    if len(s) % 2 ==0:
        print(s[len(s)//2], s[(len(s)//2)-1])
    else:
        print(s[len(s)//2])

get_middel_char('ssafy')
get_middel_char('coding')

a
i d

In [127]:
def my_avg(*num):
    total = 0
    for i in num:
        total = total + i
    return total / len(num)
    
    
print(my_avg(77,83,95,80,70))

81.0

In [130]:
def list_sum(numbers):
    total = 0
    for i in numbers:
        total = total + i
    return total

print(list_sum([1,2,3,4,5,6,7]))

28

In [141]:
def dict_list_sum(info):
    total = 0
    for i in range(0,len(info)):
        total = total + info[i].get('age')
    return total

dict_list_sum([{'name':'kim', 'age':12}, {'name':'lee', 'age' : 4}])

16

In [139]:
info =[{'name':'kim', 'age':12}, {'name':'lee', 'age' : 4}]
info[1].get('age')

4

In [155]:
def all_list_sum(lists):
    total = 0
    for i in range(0,len(lists)):
        for j in range(0,len(lists[i])):
            total = total + lists[i][j]
    return total

all_list_sum([[1],[2,3],[4,5,6],[7,8,9,10]])

55

In [150]:
lists = [[1],[2,3],[4,5,6],[7,8,9,10]]
lists[3]

[7, 8, 9, 10]

In [154]:
def all_list_sum(numbers):
    total = 0

    for i in range(0,len(numbers)):
        for j in range(0,len(numbers[i])):
            total = total + numbers[i][j]

    return total

print( all_list_sum([[1],[2,3],[4,5,6],[7,8,9,10]]) )

55

In [156]:
chr(65)

'A'

In [164]:
def get_secret_word(numbers):
    sentence = []
    for i in numbers:
        sentence.append(chr(i))
    return " ".join(sentence)

get_secret_word([83,115,65,102,89])

'S s A f Y'

In [170]:
def get_secret_number(sen):
    total = 0
    for i in range(0, len(sen)):
        total = total + ord(sen[i])
    return total

get_secret_number('tom')

336

In [171]:
sen ='tom'
ord(sen[1])

111

In [180]:
def get_strong_word(*word):
    num = []
    for i in range(0,len(word)
                  ):
        for j in range(0,len(word[i])):
            num[i] = num[i] + ord(word[i][j])
#         if num[1] > num[0]:
#             strong = num[1]
#         else:
#             strong = num[0]
    return num


get_strong_word('z','a')
get_strong_word('tom', 'john')

IndexError: list index out of range

In [176]:
len('z')

1

In [181]:
def sum_with_for(num):
    total = 0
    for i in range(1,num+1):
        total = total + i
    return total

sum_with_for(5)

15

In [184]:
def sum_with_while(num):
    total = 0
    i=1
    while i <= num:
        total = total + i
        i+=1
    return total
sum_with_while(5)

15

In [198]:
def mul_with_for(numbers):
    square = 1
    for i in range (0, len(numbers)):
        square = square * numbers[i]
    return square

In [199]:
def mul_with_while(numbers):
    square = 1
    i = 1
    while i < len(numbers):
        square = square *  numbers[i]
        i+=1
    return square

In [200]:
# 아래 코드는 바꾸지 않습니다.
num = int(input('정수를 입력하세요'))
numbers = list(range(1, num+1))

# 아래 두코드 모두 in 4 => out 24 / in 5 => out 120 를 만족해야 합니다.
print(mul_with_for(numbers))
print(mul_with_while(numbers))

정수를 입력하세요5
120
120

In [202]:
students = ['김철수', '이영희', '조민지']

In [203]:
# 학생 수라고 적혀 있지만, 사실 리스트의 길이를 구하는 문제이다.
# 아마도 대부분 아래와 같이 코드를 작성했을 것이다. 아니어도 좋다!

print(len(students))
# 근데 이 것을 반복문을 활용해서 풀어보자.
# 반 인원을 체크한다고 하자. 국룰은 바를 정을 하나씩 그리는 것이다.
# 이 것을 코드로 옮겨보자.
count=0
for student in students:
    count = count+1
    
print(count)

3
3

In [207]:
def is_pal_while(word):
    i=0
    while i < len(word):
        if word[0] == word[-1]:
            word = word[1:len(word)-1]
            i+=1
        else:
            return False
    return True

In [208]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(is_pal_while('tomato'))
print(is_pal_while('racecar'))
print(is_pal_while('azza'))

False
True
True

In [ ]:
def is_pal_recursive(word):
    if len(word) <= 1:
        return True
    if word[0] == word[-1]:
        word = word[1:len(word)-1]
    else:
        return False

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(is_pal_recursive('tomato'))
print(is_pal_recursive('racecar'))
print(is_pal_recursive('azza'))

In [ ]:
def ssafy():
    print('Hello, ssafy!')
    ssafy()
 
ssafy()

In [1]:
try:
    num = input('입력을 해주세요')
    print(int(num))
except:
    print("제발 숫자만 입력해주세요")

입력을 해주세요ㄹㄴㅇㄹ
제발 숫자만 입력해주세요

In [9]:
try:
    num = input("입력을 해주세요")
    print(str(num))
except Exception:
    print("에러에요")
except ValueError:
    print("문자를 넣어라")

입력을 해주세요341
341